
<div class="page-header">
  <h1>Editing book <small>Easy and Simple</small></h1>
</div>

<div class="col-md-12">
	<%= render 'form' %>
</div>

<div class="col-md-12">
	<%= link_to 'Ver', @book, class: "btn btn-primary" %> |
	<%= link_to 'Ver todos', books_path, class: "btn btn-primary" %>
</div>